<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body>
    <a href="/index">Index page</a>
    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
